h2{
    color: brown;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
label{
    font-weight: bold;
}
form {
    background-color: gainsboro;
    width: 300px;
    border: 10px solid brown;
    padding: 20px;
    margin: 10px;
  }
div.container{
    background-color: lightgray;
}