<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   
    <div class="form-group">
       <label for ="username">Username </label>
       <input type="text" formControlName="username" [ngClass]="{'is-invalid':submitted && f.username.errors}"/>
       <div *ngIf="submitted && f.username.errors.required">username required</div>
       <!--<div *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Enter valid username</div>-->
    </div>
   
    <div class="form-group">
        <label for ="password">Password </label>
        <input type="password" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}"/>
        <div *ngIf="submitted && f.password.errors.required">password required</div>
        <!--<div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Enter valid password</div>-->
    </div>
   
    <!--<div *ngIf="!loginForm.valid && loginForm.touched"> Enter valid credentials </div>-->
   
    <div class="form-group">
        <button [disabled]="loading"><span *ngIf="loading"></span>Login</button> 
    </div>
</form>
