<div class="container">
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="horizontal"><!--services-->
   
    <div class="form-group">
       <label class="control-label col-sm-2" for ="username">Username </label>
       <div class="col-sm-10">
       <input type="text" formControlName="username" [ngClass]="{'is-invalid':submitted && f.username.errors}"/>
       <div *ngIf="submitted && f.username.errors.required">username required</div>
       <!--<div *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Enter valid username</div>-->
       </div>
    </div><br>
   
    <div class="form-group">
        <label class="control-label col-sm-2" for ="password">Password </label>
        <div class="col-sm-10">
        <input type="password" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}"/>
        <div *ngIf="submitted && f.password.errors.required">password required</div>
        <!--<div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Enter valid password</div>-->
        </div>
    </div><br>

    <div class="form-group">
        <label class="control-label col-sm-2" for ="email">E-mail </label>
        <div class="col-sm-10">
        <input type="text" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}"/>
        <div *ngIf="submitted && f.email.errors.required">email required</div>
        </div>
    </div><br>
   
    <!--<div *ngIf="!loginForm.valid && loginForm.touched"> Enter valid credentials </div>-->
   
    <div class="form-group">
        <button [disabled]="loading"><span *ngIf="loading"></span>Login</button> 
    </div>
</form>
</div>